langchain>=0.1.16
langchain-community>=0.0.34
chromadb>=0.4.24
sentence-transformers>=3.0.0
PyMuPDF>=1.24.2
rank_bm25==0.2.2
torch
transformers>=4.40.0
langchain-text-splitters
accelerate>=0.28.0
datasets
langchain-huggingface>=0.0.3
pandas<2.2.0
numpy<2.0.0
pyarrow<15.0.0
scikit-learn<1.4.0
